<?xml version="1.0"?>
<launch>
<arg name="robotName" default="ropod"/>
        <!--arg name="robotName" default="ropod_tue_1"/-->
        <arg name="robotCommonName" default="ropod"/>
        <arg name="loadName" default="mobidik"/>
        <arg name="LOAD_ATTACHED" default="false" />
        <arg name="laser" default="true"/>
        <arg name="laser1_name" value ="laser"/>
        <arg name="asus_cam" default="false"/>
        <arg name="asus_cam_name" value="asusxtion"/>
        <arg name="asus_cam_calibration" default="false"/>
        <arg name="gmapping" default="false"/>

        <!--<arg name="floorplan" default="$(find ropod_demo_dec_2017)/config/shape/floorplan_ropod_demo"/>-->
        <!-- <arg name="floorplan" default="$(find ed_object_models)/models/hospital_test_amcl/walls/shape/Floorplan_demo_ROPOD_amcl"/> -->
        <arg name="floorplan" default="$(find ed_object_models)/models/tue_hallway_RLtoAL/walls/shape/map"/>
        <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL)" />
        <arg name="robot_path" default="$(env CATKIN_WORKSPACE)/src/platform"/>

<!--    <arg name="robot_bringup_path" default="$(arg robot_path)/$(arg robotName)"/>-->
        <arg name="robotPackage" default="ropod_tue_2_bringup"/>
        <arg name="robot_bringup_path" default="$(arg robot_path)/$(arg robotPackage)"/>


<include file="$(find robot_common)/launch/hardware/sick_laser.launch">
                                        <arg name="bringup_path" value="$(arg robot_bringup_path)"/>
                                                <arg name="name" value="$(arg laser1_name)"/>
                                                <arg name="robot" value="$(arg robotName)"/>
                                </include>
</launch>
