<?xml version="1.0"?>
<launch>
  <arg name="model" default="RS16" />
  <arg name="device_ip" default="192.168.1.200" />
  <arg name="msop_port" default="6699" />
  <arg name="difop_port" default="7788" />
  <arg name="lidar_param_path" default="$(find rslidar_pointcloud)/data/rs_lidar_16/"/>

  <node  name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="$(arg model)"/>
    <param name="device_ip" value="$(arg device_ip)" />
    <param name="msop_port" value="$(arg msop_port)" />
    <param name="difop_port" value="$(arg difop_port)"/>
    <!--param name="pcap" value="path_to_pcap"/-->
  </node>

  <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
    <param name="model" value="$(arg model)"/>
    <param name="curves_path" value="$(arg lidar_param_path)/curves.csv" />
    <param name="angle_path" value="$(arg lidar_param_path)/angle.csv" />
    <param name="channel_path" value="$(arg lidar_param_path)/ChannelNum.csv" />
    <param name="max_distance" value="200"/>
    <param name="min_distance" value="0.2"/>
    <param name="resolution_type" value="0.5cm"/>
    <param name="intensity_mode" value="1"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="tf_link_robosense_0" args="0.0 0.0 0.74 0.00 0 0 /ropod/base_link /rslidar 33" />
  <!--node pkg="tf" type="static_transform_publisher" name="tf_link_robosense_0" args="0.0 0.0 0.74 0.00 0 0 /ropod/base_link /rslidar 33" /-->
  <node pkg="tf" type="static_transform_publisher" name="tf_link_robosense_front" args="0 0 0 0 0 0 /rslidar /rslidar_projected_front 33" />
  <node pkg="tf" type="static_transform_publisher" name="tf_link_robosense_back" args="0 0 0 3.14 0 0 /rslidar /rslidar_projected_back 33" />

  	<node pkg="point_cloud_projection" type="point_cloud_projector" name="PointCloudProjector" output="screen">
        <remap from="/points" to="/rslidar_points"/>
		<param name="frameIDFront" value="/rslidar_projected_front"/>
		<param name="frameIDBack" value="/rslidar_projected_back"/>
		<param name="laserAltitude" value="0.4"/>
		<param name="yaw" value="0"/>
		<param name="pitch" value="0.00"/>
		<param name="roll" value="-0.05"/>
		<param name="frameYaw" value="0"/>
		<param name="framePitch" value="0"/>
		<param name="frameRoll" value="0"/>
		<param name="minAngle" value="-3.14159"/>
		<param name="maxAngle" value="3.14159"/>
        <param name="minAngleSplit" value="-2.35"/>
        <param name="maxAngleSplit" value="2.35"/>
        <param name="minRange" value="0.65"/>
		<param name="maxRange" value="100.0"/>
		<param name="minRow" value="0"/>
		<param name="maxRow" value="10000"/>
		<param name="laserBeamNr" value="1400"/>
		<param name="zDistortionCoeff" value="0.0"/>
		<param name="xDistortionCoeff" value="1.0"/>
		<param name="floorTolerance" value="0.10"/>
		<param name="ceilingTolerance" value="0.3"/>
		<param name="rowSampling" value="1"/>
		<param name="colSampling" value="1"/>
		<param name="maxIntensity" value="30"/>
		<param name="filterScanStart" value="0"/>
		<param name="filterScanEnd" value="4"/>
	</node>

</launch>

